.slidingImages{
    display: flex;
    flex-direction: column;
    gap: 3vw;
    position: relative;
    margin-top: clamp(100px, 18vh, 200px);
    background-color: white;
    z-index: 1;
    .slider{
        display: flex;
        position: relative;
        gap: 3vw;
        width: 120vw;
        left: -10vw;
        .project{
            width: 25%;
            height: 20vw;
            display: flex;
            align-items: center;
            justify-content: center;
            .imageContainer{
                position: relative;
                width: 80%;
                height: 80%;
                img{
                    object-fit: cover;
                }
            }
        }
    }
    .circleContainer{
        background-color: red;
        position: relative;
        margin-top: clamp(60px, 12vh, 100px);
        .circle{
            height: 1550%;
            width: 120%;
            left: -10%;
            border-radius: 0 0 50% 50%;
            background-color: white;
            z-index: 1;
            position: absolute;
            box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.748);
        }
    }
    
    @media (max-width: 1024px) {
        margin-top: 120px;
        
        .slider {
            gap: 2vw;
            
            .project {
                height: 25vw;
            }
        }
        
        .circleContainer {
            margin-top: 80px;
        }
    }
    
    @media (max-width: 768px) {
        margin-top: 80px;
        gap: 4vw;
        
        .slider {
            gap: 4vw;
            
            .project {
                width: 40%;
                height: 35vw;
            }
        }
        
        .circleContainer {
            margin-top: 60px;
        }
    }
}