.link {
  position: relative;
  display: flex;
  align-items: center;

  .indicator {
    width: 6px;
    height: 6px;
    background-color: #8b5cf6;
    border-radius: 50%;
    position: absolute;
    left: -24px;
  }
}